
@{
    ViewBag.Title = "Компоненты для вывода картинок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Компоненты для вывода картинок</h2>

<div class="as-images-gallery">
    <img src="/uploads/Images/products/3/5615634_878ecb84_thumb.jpg" data-url="/uploads/Images/products/3/5615634_878ecb84.jpg" title="111" alt="11" data />
    <img src="/uploads/Images/products/3/89560067_angel488_thumb.jpg" data-url="/uploads/Images/products/3/89560067_angel488.jpg" title="222" alt="22" />
    <img src="/uploads/Images/products/3/anypics.ru-22301_thumb.jpg" data-url="/uploads/Images/products/3/anypics.ru-22301.jpg" title="333" alt="33" />
    <img src="/uploads/Images/products/3/iis-8_thumb.png" data-url="/uploads/Images/products/3/iis-8.jpg" title="4444" alt="44" />  
</div>

