@{
    ViewBag.Title = "Метрики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Метрики</h2>

<div class="crdToolbar well well-sm">
    <b>Внимание! Данный функционал доступен только зарегистрированным пользователям</b> <br/>
    Механизм метрики позволяет просматривать различные показатели по уровням, детализируя необходимый показатель.
    Данный механизм очень удобен – он структурирует данные и позволяет подгружать их по необходимости налету.
</div>
 
<a href="#" class="as-metrics">Показатели</a>