
@{
    ViewBag.Title = "SqlCrud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table,td,th{border:1px solid black;border-collapse:collapse;padding:2px 10px;}
th{cursor:pointer;background-color:lightgrey;}
</style>
<h2>Компонент вывода crud-таблицы по SQL</h2>

<div class="as-sqlCrud" data-code="e" data-paging="3"><input type="button" class="btn btn-success btn-lg" value="Click Me"></div>
