
@{
    ViewBag.Title = "TableExport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TableExport</h2>

<table class="as-export table table-bordered table-hover" data-type="pdf" data-title="Новая таблица" data-subtitle="Для проверки функциональности экспорта">
    <thead>
        <tr><th>Столбец 1</th><th>Столбец 2</th><th>Столбец 3</th></tr>
    </thead>
    <tbody>
        <tr><td>Столбец 11</td><td>Столбец 12</td><td>Столбец 13</td></tr>
        <tr><td>Столбец 21</td><td>Столбец 22</td><td>Столбец 23</td></tr>
        <tr><td>Столбец 31</td><td>Столбец 32</td><td>Столбец 33</td></tr>
        <tr><td>Столбец 41</td><td>Столбец 42</td><td>Столбец 43</td></tr>
    </tbody>
    
</table>


<table class="as-export table table-bordered table-hover" data-type="excel" data-title="Новая таблица1" data-subtitle="Для проверки функциональности экспорта1">
    <thead>
        <tr><th>Столбец 11</th><th>Столбец 21</th><th>Столбец 31</th></tr>
    </thead>
    <tbody>
        <tr><td>Столбец 11</td><td>Столбец 12</td><td>Столбец 131</td></tr>
        <tr><td>Столбец 21</td><td>Столбец 22</td><td>Столбец 231</td></tr>
        <tr><td>Столбец 31</td><td>Столбец 32</td><td>Столбец 331</td></tr>
        <tr><td>Столбец 41</td><td>Столбец 42</td><td>Столбец 431</td></tr>
    </tbody>

</table>