
@{
    ViewBag.Title = "TegReplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TegReplace</h2>
<div id="foo" class="firsttxt col-sm-6">wgfw <a>http://google.com</a> wdfgwefg http://qwsfw.com qwefqwe <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/PNG_transparency_demonstration_1.png/560px-PNG_transparency_demonstration_1.png" alt="test"> </div>


    <input type="button" value="Replace" class="btnResult btn btn-success btn-lg">

