@{
    ViewBag.Title = "Ваше мнение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/js/as/controls/as.opinion.js")


<h2>Ваше мнение</h2>

<div class="well well-sm" style="display:inline-block">
    Компонент позволяет оставлять свое мнение о каком-либо элементе
</div><br>

<div class="as-user-opinion" data-itemid="1" data-typeid=""></div>
<div class="as-user-opinion" data-itemid="2" data-typeid=""></div>

<style type="text/css">
</style>