@{
    ViewBag.Title = "Пример видео";
    Layout = "~/Views/Shared/_LayoutVideo.cshtml";
}

@section css
{
    <link href="~/js/AS/controls/controls_style/videobg.css" rel="stylesheet"/>
    <style type="text/css">
     .overlay h1 {
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-top: 17%;
    }
    </style>
}

<div id="fullscreen">
    <div class="overlay">
        <h1>Простой пример<br>фонового видео на сайте</h1>
    </div>
</div>
<script src="/js/AS/controls/as.videobg.js"></script>

@section js{
    <script type="text/javascript">
        $(function () {
            as.videobg.init({
                appendTo: '#fullscreen',
                isMobile: "@BrowserHelpers.GetOverriddenBrowser(new HttpContextWrapper(HttpContext.Current)).IsMobileDevice" == "True",
                alterImage: "/Content/images/video/plane.jpg",
                sources: [{ src: '/Content/images/video/plane.mp4', type: 'video/mp4' },{ src: '/Content/images/video/plane.webm', type: 'video/webm' }]
            });
        });
    </script>
    }
