
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<style>
    /*.as-info{
        display:none;
    }*/
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPopover</title>
</head>
<body>
    <br/><br /><br /><br /><br /><br />
    <ul>
        <li>
            <a href="#" class="as-info" data-title="Заголовок" data-content="Описание чего либо55" data-itemid="1" data-code="simpleinfo" data-placement="top" data-container="body" data-show="true">
                Автозагрузка popover
            </a>
        </li>
        <li>
            <a href="#" class="as-info" data-title="Заголовок" data-content="Описание чего либо66" data-itemid="2" data-code="simpleinfo" data-placement="top" data-container="body" data-show="false">
                Ручная загрузка popover
            </a>
        </li>
    </ul>
    
    
</body>
</html>
