@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title</h2>

<p>
    Мы - группа разработчиков ПО. Мы специализируемся на разработке различных бизнес приложений на веб основе. 
</p>
<p>
    Наши решения подойдут тем компаниям, которым по каким-то причинам не подходит типовое ПО (например, готовые CRM, CMS и т.д.). 

</p>
<p>
    В своей работе мы используем следующие технологии:
    <ul>
        <li>ASP.NET MVC/Web Forms</li>
        <li>Windows Server 2008/2012</li>
        <li>IIS 7.5/8.0</li>
        <li>SQLServer 2008/2012/2014</li>
        <li>Twitter Bootstrap 3.0</li>
    </ul>
</p>
<p>Наш продукт Ark AS рассчитан на относительно быструю адаптацию под ваши бизнес-процессы. Вы можете посмотреть раздел <a href="/demo">Демо</a>, чтобы ознакомиться с возможностями компонентов Ark AS.</p>

<p>Юридические данные: ООО Руден, ИНН 6234032425</p>

@Html.Raw(arkAS.BLL.Core.CoreManager.GetMainFormLink())

