@{
    ViewBag.Title = "Как с нами связаться";
}
<h2>@ViewBag.Title.</h2>
<address>
    <strong>E-mail:</strong>   <a href="ru@rudensoft.ru">ru@rudensoft.ru</a><br />
    <strong>Телефон:</strong> 8 900 908 8833
</address>
@Html.Raw(arkAS.BLL.Core.CoreManager.GetMainFormLink())


@{
    
    /*
<address>
    г. Рязань<br />
    ул. Высоковольтная, 54, оф. 4<br />
</address>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1155.123580546458!2d39.693277!3d54.617254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4149e2693539deef%3A0x87a84cb11c8117cb!2z0JLRi9GB0L7QutC-0LLQvtC70YzRgtC90LDRjyDRg9C7LiwgNTQsINCg0Y_Qt9Cw0L3RjCwg0KDRj9C30LDQvdGB0LrQsNGPINC-0LHQuy4sIDM5MDAyOQ!5e0!3m2!1sru!2sru!4v1424932418068" width="800" height="600" frameborder="0" style="border:0"></iframe>
     */
}