
@{
    ViewBag.Title = "Статусы партнеров";
    var js = new System.Web.Script.Serialization.JavaScriptSerializer();
    Layout = arkAS.BLL.Core.CoreManager.GetCabinetLayout();
}

<div class="statuses"></div>

@section js{
    <script type="text/javascript">

        var statuses = {
            init: function () {
                statuses.initMainTable();
            },
            initMainTable: function () {
                as.crud.init({
                    cont: $(".statuses"),
                    title: "Статусы партнеров",
                    toolbarAdditional: "",
                    groupOperationsToolbar: "",
                    ajaxURLFormat: "/Partners/PartnersStatuses_{0}",
                    inlineAjaxURL: "/Partners/PartnersStatusesInline",
                    pageSize: 150,
                    cookiePrefix: "as-crud-partnersStatusesTable-",
                    emptyText: "Status не задан",
                    createLinkTitle: "Создать",
                    filterLinkTitle: "",
                    filterTitle: "",
                    showChecksCol: false,
                    showNumsCol: true,
                    showToolbar: true,
                    showColSettings: false,
                    showReplaceTool: false,
                    showExcelExport: false,
                    additionalSort: false,
                    cols: [
                        { code: "id", title: "ID", tooltip: "Идентификатор", isVisible: false, isPK: true, datatype: "int", isRequired: false },
                        { code: "name", title: "Название", tooltip: "Название статуса", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "{0}", isSort: true, callback: null },
                        { code: "code", title: "Код", tooltip: "Код", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "{0}", isSort: true, callback: null },
                        { code: "color", title: "Цвет", tooltip: "Цвет", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "{0}", isSort: true, callback: null },
                        { code: "order", title: "Состояние", tooltip: "Состояние", isVisible: true, isPK: false, datatype: "string", isRequired: false, format: "{0}", isSort: true, callback: null }
                    ],
                    operations: {
                        create: true,
                        remove: true,
                        edit: true,
                        other: [
                        ]
                    },
                    getFilterMakeup: function (filter) {
                        var s = [];
                        return s.join("");
                    },
                    filter: function () {
                        return {};
                    },
                    getItemsCallback: function () {
                    }
                });
            }
        }

        $(function () {
            statuses.init();
        });

    </script>
}

