<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://harlov-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://harlov-001-site1.atempurl.com:8172/MsDeploy.axd?site=harlov-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>harlov-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\harlov-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="arkAS.BLL.LocalSqlServer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="arkAS.BLL.LocalSqlServer, arkAS" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LocalSqlServerSimple" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;193.124.64.149\sqlexpress, 1433&quot;;Initial Catalog=core;Integrated Security=False;User ID=core;Password=paty5423fon;User Instance=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalSqlServerSimple_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=193.124.64.149\sqlexpress, 1433;Integrated Security=False;User Instance=False;User ID=core;Password=paty5423fon;Database=core" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="coreEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;193.124.64.149\sqlexpress, 1433&quot;;Initial Catalog=core;Integrated Security=False;User ID=core;Password=paty5423fon;Application Name=EntityFramework;User Instance=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\coreEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.Fedchenko.Model.Model1.csdl|res://*/Areas.Fedchenko.Model.Model1.ssdl|res://*/Areas.Fedchenko.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;193.124.64.149\sqlexpress, 1433&quot;;initial catalog=core;integrated security=False;user id=core;password=paty5423fon;multipleactiveresultsets=True;application name=EntityFramework;user instance=False'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="coreEntities2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;193.124.64.149\sqlexpress, 1433&quot;;Initial Catalog=core;Integrated Security=False;User ID=core;Password=paty5423fon;Application Name=EntityFramework;User Instance=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\coreEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.Fedchenko.Model.Model1.csdl|res://*/Areas.Fedchenko.Model.Model1.ssdl|res://*/Areas.Fedchenko.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;193.124.64.149\sqlexpress, 1433&quot;;initial catalog=core;integrated security=False;user id=core;password=paty5423fon;multipleactiveresultsets=True;application name=EntityFramework;user instance=False'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="coreEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;193.124.64.149\sqlexpress, 1433&quot;;Initial Catalog=core;Integrated Security=False;User ID=core;Password=paty5423fon;Application Name=EntityFramework;User Instance=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\coreEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Areas.Fedchenko.Model.Model1.csdl|res://*/Areas.Fedchenko.Model.Model1.ssdl|res://*/Areas.Fedchenko.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;193.124.64.149\sqlexpress, 1433&quot;;initial catalog=core;integrated security=False;user id=core;password=paty5423fon;user instance=False;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)arkAS.BLL.LocalSqlServer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)coreEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)coreEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)coreEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalSqlServerSimple-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="arkAS.BLL.LocalSqlServer" />
  </ItemGroup>
</Project>